@import 'normalize.css';
@import 'variables.css';

@font-face {
  font-family: 'HalvarBreit';
  src: url('../assets/fonts/HalvarBreit-Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HalvarBreit';
  src: url('../assets/fonts/HalvarBreit-Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HalvarBreit';
  src: url('../assets/fonts/HalvarBreit-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HalvarBreit';
  src: url('../assets/fonts/HalvarBreit-Bd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../assets/fonts/Stolzl-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../assets/fonts/Stolzl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  height: 100vh;
  background: linear-gradient(120deg, #dc8400, #560080, #220032) 0 0 / cover no-repeat;
}

.logo {
  color: rgb(255, 255, 255);
  height: 45px;
}
